body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/******************************Class Selectors****************************/
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 7% 15%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.social-icon {
  margin: 20px 10px;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.title-image {
  right: 25%;
  position: absolute;
  transform: rotate(25deg);
  width: 300px;
}

.white-section {
  background-color: white;
}

/******************************Hierarchical Selectors********************/
#title .container-fluid {
  padding: 3% 15%;
  text-align: left;
}

/******************************ID Selectors****************************/
#features {
  padding: 7% 20%;
  position: relative;
}

#footer {
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

#testimonials {
  background-color: #ef8172;
}

/******************************Media Query****************************/
@media only screen and (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }

}
